
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with<a href="https://www.clipart.email/download/1269087.html" title="Image from clipart.email"><img
        src="https://cdn.clipart.email/c2d9aac6750caf442928b25715b8d3f3_gold-heart-clip-art-at-clkercom-vector-clip-art-online-royalty-_640-480.svg"
        width="25" alt="Herz Gold Clipart"/></a>by Catherine Alexandra</p>
  </div>
</div>
</body>
</html>
